@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'Dragon Hunter';
    src: url('./fonts/DEBUG.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.body {
  color: white;
  background-color: black;
  height: 100vh;
  background-image: url('./bg.gif');
  background-repeat: repeat;
}
.aligncentre {
  align-items: center;
  justify-content: center;
  display: flex;
}
.title {
  font-size: 38px;
  word-spacing: 10px;
  letter-spacing: 5px;
  height: 11vh;
  background-color: black;
  border-bottom: 1px solid white;
  font-family: 'Press Start 2P';
}
.board {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.row {
  display: flex;
}

.tile {
  border: 1px solid white;
  user-select: none;
  aspect-ratio: 1/1;
  font-size: 4rem;
  padding: 33px;
  text-align: center;
  font-family: 'Dragon Hunter', Courier, monospace;
  cursor: pointer;
}
.xc{
    background-color: rgba(255, 255, 255, 0.087);
}
.b{
    height: 30px;
    margin-left: 600px;
}
.ch{
    margin-top: 10px;
    font-family: 'Dragon Hunter', Courier, monospace;
    font-size: 40px;
    margin-bottom: -30px;
    font-weight: 500;
}